target/
!target/backend-0.0.1-SNAPSHOT.jar
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
*.rar
.git
.gitignore
.mvn
mvnw
mvnw.cmd
.idea
.vscode
*.iml
*.ipr
*.iws
.DS_Store
*.swp
*.bak
*.tmp
*.temp
.env
.env.local
.env.*.local