.mySwiper{
    --swiper-navigation-size: 60px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: #36A1F3;

    --swiper-pagination-color: #2580e0;
    --swiper-pagination-bullet-width: 50px;
    --swiper-pagination-bullet-height: 7px;
    --swiper-pagination-bullet-border-radius: 4px;
    --swiper-pagination-bullet-inactive-color: #0A0F0D;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 15px;
    margin-bottom: 62px;
}

.img-card{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: #182B33;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


.img-container{
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
}

.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #011720 0%, #01161f00 15%, #01161f00 75%, hwb(195 3% 84%) 100%);
    z-index: 1;
}

.info{
    position: absolute;
    bottom: 60px;
    left: 50px;
    color: var(--ghost-white);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.info h2{
    font-size: 64px;
    margin-bottom: 82px;
    text-align: start;
}

.info .movie-details{
    position: absolute;
    bottom: 1px;
    left: 200px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    white-space: nowrap;
    margin: 0 auto;
    margin-top: 82px;
}   

.info .movie-details button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 198px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #36A1F3;
    color: var(--ghost-white);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.info .movie-details button:hover{
    background-color: #2580e0;
}