.movie-list{
    margin: 0 auto;
}

.list-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 1344px;
    min-height: 383px;
    height: auto;
    padding: 20px 50px;
    background-color: #1B3742;
    border-radius: 32px;
    color: var(--ghost-white);
}
.list-title{
    font-size: 32px;
    margin-bottom: 10px;
    text-wrap: nowrap;
}

.list-container img{
    width: 174px;
    height: 258px;
}

.movie-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    flex: 0 0 calc((100% - 200px) / 6);
}

.movie-item:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}