.navbar-spacer {
    height: 100px;
    width: 100%;
}
.navbar {
    background-color: #182B33;
    padding: 10px;
    width: 90vw;
    max-width: 554px;
    min-width: 300px;
    height: 44px;
    padding: 0px;
    border-radius: 40px;
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1000;
    margin-bottom: 20px;
}
.navbar-button {
    height: 100%;
    width: 71px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 0 30px;
    transition: background-color 0.3s;
}
.navbar-button:hover, .navbar-button.active {
    background-color: #24414D;
}
.navbar-search {
    background-color: #2B3C44;
    border-radius: 40px;
    height: 100%;
    width: 305px;
    color: #AAAAAA;
    font-size: 20px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-search input {
    background-color: #2B3C44;
    border: none;
    border-radius: 40px;
    height: 100%;
    color: #AAAAAA;
    font-size: 20px;
    padding: 0 16px;
}
.navbar-search input:focus{
    color: var(--ghost-white);
    outline: none;
}
.navbar-search svg {
    color: var(--ghost-white);
    cursor: pointer;
    font-size: 22px;
}

.search-results {
    position: absolute;
    top: 50px;
    width: 305px;
    background-color: #182B33;
    color: var(--ghost-white);
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1;

}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #24414D;
}
.search-result-item:hover {
    background-color: #24414D;
    cursor: pointer;
}

.profile-icon {
    position: fixed;
    right: 50px;
    top: 35px;
    z-index: 1000;
}

.profile-icon svg{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.menu {
    position: absolute;
    right: 0px;
    top: 50px;
    background-color: #182B33;
    border-radius: 5px;
    color: var(--ghost-white);
    cursor: pointer;
    min-width: 120px;
    z-index: 1;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}   
.menu li {
    padding: 10px;
    height: 100%;
    border-bottom: 1px solid #24414D;
}
.menu li:hover {
    background-color: #24414D;
}