.post-card{
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--ink-black);
    color: var(--ghost-white);
    padding: 0 29px;
    border-radius: 10px;
    box-sizing: border-box;
}

.post-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;
}

.post-header .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4px;
}

.post-header .user-profile-pic{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.2s ease-in ;
}

.post-header .user-info .user-name{
    text-decoration: none;
    color: var(--ghost-white);
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    transition: color 0.2s ease-in ;
}

.post-header .user-info .user-name:hover,
.post-header .user-profile-pic:hover{
    color: var(--blue-bell);
}

.post-header .user-info time{
    font-size: 12px;
    font-weight: lighter;
}

.post-header .post-settings{
    position: absolute;
    right: 0;
    top: 31px;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    right: 0px;
    top: 20px;
    background-color: #182B33;
    color: var(--ghost-white);
    cursor: pointer;
    min-width: 120px;
    z-index: 1;
}

.options-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}   
.options-menu li {
    padding: 10px;
    height: 100%;
    transition: background-color 0.3s;
}
.options-menu li:hover {
    background-color: #24414D;
}

.post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.post-content img{
    width: 100%;
    cursor: pointer;
    margin-top: 10px;

}

.post-content .post-text{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    cursor: pointer;
}

.post-content .post-title{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.post-footer{
    width: 100%;
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.up-down-vote,
.post-comment,
.post-share{
    border-radius: 15px;
    border: 1px solid #A8A8A8;
    padding:2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.post-comment,
.post-share{
    padding:4px;
    font-size: 13px;
    transition: color 0.2s;
}

.post-share{
    position: absolute;
    margin-right: 0px;
    right: 0;
}

.post-comment:hover,
.post-share:hover{
    color: var(--blue-bell);
    border: 1px solid var(--blue-bell);
}

.post-comment .comment-count{
    margin-left: 6px;
    margin-right: 4px;
    font-size: 14px;
    font-weight: 500;
}

.up-down-vote .vote-count{
    margin-right: 4px;
    margin-left: 2px;
}
.up-down-vote .vote-separator{
    width: 1px;
    height: 18px;
    background: #A8A8A8;
    display: inline-block;
    margin: 0 8px;
    border-radius: 1px;
    transition: background 0.15s ease;
}
.up-down-vote:hover .vote-separator{
    background: var(--blue-bell);
}
.up-down-vote .vote-separator{
    margin-right: 3px;
}

.up-down-vote svg{
    transition: color 0.2s;
}

.up-down-vote svg:hover,
.up-down-vote  svg.selected:hover{
    color: var(--blue-bell);
}

.up-down-vote svg.selected {
    color: var(--blue-bell);
    fill: var(--blue-bell);
}
