.profile-avatar {
    position: fixed;
    right: 50px;
    top: 35px;
    z-index: 1000;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    right: 0px;
    top: 50px;
    background-color: #182B33;
    color: var(--ghost-white);
    cursor: pointer;
    min-width: 120px;
    z-index: 1;
}

.profile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-menu li {
    padding: 10px;
    height: 100%;
    border-bottom: 1px solid #24414D;
}

.profile-menu li:hover {
    background-color: #24414D;
}
