*{
    margin: 0;
}

.signup-container{
    background-image: linear-gradient(180deg, #01161ec3 0%, var(--ink-black-border) 100%), url("../../../../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--ghost-white);
}

/* HEADER */

.signup-container h1{
    font-size: 36px;
}

.signup-container p{
    font-size: 20px;
    margin-top: 12px;
}

.signup-container a{
    text-decoration: none;
    color: #36A1F3;
}

/* FORM */

.signup-container form{
    display: flex;
    flex-direction: column;
    width: 430px;
    margin: 15px auto;
}

.signup-container label{
    font-size: 16px;
    color: var(--ghost-white);
    margin-bottom: 3px;
    margin-right: 25px;
}

/* INPUT ELEMENTS */

.input-elem{
    flex-direction: column;
    margin: 17px 0;
    border-bottom: 2px solid var(--ghost-white);
}

.icon-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.signup-container input{
    height: 39px;
    width: 430px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: var(--ghost-white);
    transition: background-color 0.3s ease-out;
}

.signup-container input::placeholder{
    color: var(--ghost-white);
}

.signup-container input[type="date"]::-webkit-calendar-picker-indicator{
    visibility: hidden;
}

.signup-container input[type=radio]{
    -webkit-appearance: none;
    appearance: none;
    margin: 3px 4px;
    color: var(--ghost-white);
    width: 11px;
    height: 11px;
    border: 1px solid var(--ghost-white);
    border-radius: 50%;
    transition: background-color 0.3s ease-out;
}

.signup-container input[type=radio]:checked{
    background-color: var(--ghost-white);
    border: 1px solid #0C3849;
}

/* INPUT SELECTION*/

.signup-container input:focus{
    background-color: #fafaff11;
    color: var(--ghost-white);
    outline: none;
}

/* NAME GENDER INPUTS */

.name, .date-gender{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 29px;
}

.name .input-elem input{
    padding-left: 0;
    margin-left: 0;
}
.date-gender .input-elem input{
    margin-left: 0;
}
.gender-options{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
}

/* BUTTONS */

.signup-container button{
    background-color: #36A1F3;
    color: var(--ghost-white);
    font-size: 21px;
    border: none;
    border-radius: 32px;
    width: 429px;
    height: 54px;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.signup-container button[type=button]{
    background-color: #000000;
    width: 289px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.signup-container button:hover{
    background-color: #2580e0;
}

.signup-container button[type=button]:hover{
    background-color: #1d1d1d;
}
