.watch-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.wistia_full {
    width: 100%;
    height: 100%;
}
