.add-admin-page {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.add-admin-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    padding: 30px;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: var(--blue-bell);
}
.input-field.name {
    display: block;
}
.input-field input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.input-field input:focus {
    border-color: var(--blue-bell);
    box-shadow: 0 0 0 3px rgba(54, 161, 243, 0.2);
    outline: none;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 40px;
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #6c757d;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
}

.add-admin-page button[type="submit"] {
    background-color: var(--blue-bell);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 10px;
    align-self: center;
    max-width: 60%;
}

.add-admin-page button[type="submit"]:hover {
    background-color: var(--faded-blue-bell);
}

.add-admin-page button[type="submit"]:active {
    transform: scale(0.99);
}
